Applied[[:space:]]Thermodynamics/Documents/Thermodynamique[[:space:]]Course.pdf filter=lfs diff=lfs merge=lfs -text
Strength[[:space:]]of[[:space:]]Materials/Reference/Mechanics[[:space:]]of[[:space:]]Materials filter=lfs diff=lfs merge=lfs -text
